<section class="info">
  <div class="container">
    <h1 class="info-title">ФОТОСЕССИЯ В СТУДИИ</h1>
    <div class="bg-text">
      <p class="subtitle-text">
        Многие сталкиваются с вопросом о выборе правильного места для проведения фотосессии.
        Одни предпочитают съёмку на улице или дома, другие выбирают проведение фотосессии в студии.
        Но почему же Вам стоит выбрать всё-таки студийную фотосессию?
        На то есть ряд причин, которые мы рассмотрим.
      </p>
    </div>
  </div>
</section>