<div class="container">
  <nav class="nav">
    <div class="description-info">
      <h3 class="description-title">Фото-студия 2024</h3>
      <p class="description-subtitle description-subtitle1">Профессиональная студия в
        Сухом Логу!</p>
      <p class="description-subtitle description-subtitle2">Студия оснащена профессиональным оборудованием для
        проведения
        интерьерной, рекламной съемки.</p>
      <p class="description-subtitle description-subtitle3">5 источников импульсного света,
        фильтры, отражатели, 5 источников
        видеосвета. Интерьер для портретной
        съемки, предметный стол и фоны
        для рекламной съемки товаров.</p>
      <span class="description-site-name">© Фото-студия 2024</span>
    </div>
    <div class="general-info">
      <p class="site-name">© Фото-студия 2024</p>
      <p class="author-site">Разработка: <a class="author-site-link" href="https://vk.com/slavkakakafka" target="_blank">Савостин
          Вячеслав Игоревич</a></p>
      <div class="social">
        <div class="social-item">
          <div class="social-background">
            <a href="https://vk.com/slavkakakafka" class="social-link" target="_blank">
              <img src="assets/logo-vk.svg" alt="Социальная сеть - вконтакте">
            </a>
          </div>
        </div>
        <div class="social-item">
          <div class="social-background">
            <a href="https://github.com/Vy4es1av" class="social-link" target="_blank">
              <img src="assets/logo-github.svg" alt="Учётная запись ГитХаб">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <h3 class="contact-title">Контакты</h3>
      <p class="contact-subtitle">Адрес: Сухой лог, ул.Кирова д.5</p>
      <p class="contact-subtitle">Телефон:
        <a href="tel:79089145302" class="contact-link">+7(908) 914-53-02</a>
      </p>
      <p class="contact-subtitle">Email:
        <a href="mailto:mr.slava.savostin@mail.ru" class="contact-link">mr.slava.savostin@mail.ru</a>
      </p>
      <p class="contact-subtitle">Режим работы: Пн-Вс: 11 - 23</p>
    </div>
  </nav>
</div>